/* Mithilesh Pabba */
/* This is the css for the website*/

/* Header that contains logo and navigation links */
.header {
    overflow: hidden;
    background-color: blueviolet;
    padding: 10px;
}

.header a {
    float: right;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 20px;
    padding: 10px;
    background-color: green;
    text-decoration: none;
}

.header a:link {
    color: yellow;
}

.header a:visited {
    color: yellow;
}

.header a:hover {
    background-color: lightgreen;
    color: red;
}

.header a.active {
    background-color: darkgreen;
    color: white;
}

/* Main content that contains all of the elements within the body */
.content {
    float: center;
    width: 95%;
    background-color: goldenrod;
    padding: 10px;
    margin: 10px auto;
}

/* Images */
.content img {
    float: right;
    margin: 10px;
}

/* Background Color */
body {
    background-color: rgb(43, 226, 141);
}

/* Headline */
h1 {
    font-size: 30px;
    color: black;
}

/* ID Selector */
#main-heading {
    text-align: center;
}

/* Paragraphs */
p {
    font-size: 16px;
    color: black;
    font-family: 'Times New Roman', serif;
}

/* Class Selector */
a.big-link {
    font-size: 20px;
}

/* Links */
a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

/* Responsive Web Design */
@media screen and (max-width: 600px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .content {
        width: 100%;
        font-size: 20px;
    }

    .content p {
        font-size: 20px;
    }

    .content img {
        max-width: 100%;
    }
}